$bomb-size = 30px
$body-color = #ebeaee

html, body
  height: 100%
  margin: 0
  padding: 0
  position: fixed
  width: 100%

body
  font-size: 1rem
  font-weight: 400
  color: #212529
  text-align: left
  font-family: sans-serif
  line-height: 1
  user-select: none
  touch-action: manipulation
  background-color: #1b1b1d

body, a
  color: $body-color

input
  font-size: 1rem

*
  &, &::after, &::before
    box-sizing: border-box

#__next
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  min-height: 100%

button
  cursor: pointer
  margin: 0
  font-family: inherit
  font-size: inherit
  line-height: inherit

#toolbar, #board
  button
    border-radius: 0
    $button-face = #c0c0c0
    $button-highlight = #dddddd
    $button-shadow = #888888
    background-color: $button-face
    border: 2px solid
    border-color: $button-highlight $button-shadow $button-shadow $button-highlight

    &:active, &.pressed
      border-width: 1
      border-color: $button-shadow $button-highlight $button-highlight $button-shadow

transparent-button()
  background-color: transparent
  border: 0
  padding: 10px

#view-settings
  transparent-button()
  position: absolute
  top: 5px
  right: 5px

#settings
  width: 100%
  height: 100vh

  .field, button, a
    display: inline-block
    margin-right: 1em

  button, a
    &:last-child
      margin-right: 0

  .close
    transparent-button()
    color: $body-color

  #rows, #columns, #bombs
    width: 3em

  .actions
    margin-top: 1em

#toolbar
  padding: 10px
  text-align: center

  > *
    margin: 0 10px
    vertical-align: middle

  time, span
    font-family: monospace

  button
    padding: 0.25em
    font-size: 32px

#board
  overflow: auto
  max-width: 100%
  max-height: calc(100vh - 72px)

  .row
    white-space: nowrap

  button
    width: $bomb-size
    height: @width
    vertical-align: top
    position: relative
    padding: 0

    &:disabled
      color: #000

    &.open
      border: 0

    &.neighbor
      font-weight: bold

    &, &:disabled
      &.neighbor-1
        color: blue
      &.neighbor-2
        color: green
      &.neighbor-3
        color: red
      &.neighbor-4
        color: navy
      &.neighbor-5
        color: purple
      &.neighbor-6
        color: brown
      &.neighbor-7
        color: #66e
      &.neighbor-8
        color: black

    &.wrong-flag
      &::before
        content: '❌'
        position: absolute
        font-size: $bomb-size
        line-height: 1
        width: @font-size
        height: @width
        left: 0
        top: 0
