body
  font-family: sans-serif
  line-height: 1
  max-width: 300px
  margin: 0 auto

#toolbar
  padding: 10px
  text-align: center

#board
  button
    width: 30px
    height: @width
    vertical-align: top

    &.open
      border: 0
