$bomb-size = 30px

body
  font-family: sans-serif
  line-height: 1
  max-width: 300px
  margin: 0 auto

#toolbar
  padding: 10px
  text-align: center

  > *
    margin: 0 10px
    vertical-align: middle

  time, span
    font-family: monospace

  button
    padding: 0.25em
    font-size: 32px

#board
  button
    width: $bomb-size
    height: @width
    vertical-align: top
    position: relative
    padding: 0

    &.open
      border: 0

    &.wrong-flag
      &::before
        content: '❌'
        position: absolute
        font-size: $bomb-size
        line-height: 1
        width: @font-size
        height: @width
        left: 0
        top: 0
