html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}
body {
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  text-align: left;
  font-family: sans-serif;
  line-height: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  touch-action: manipulation;
  background-color: #1b1b1d;
}
body,
a {
  color: #ebeaee;
}
input {
  font-size: 1rem;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
#__next {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}
button {
  cursor: pointer;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
#toolbar button,
#board button {
  border-radius: 0;
  background-color: #c0c0c0;
  border: 2px solid;
  border-color: #ddd #888 #888 #ddd;
}
#view-settings {
  background-color: transparent;
  border: 0;
  padding: 10px;
  position: absolute;
  top: 5px;
  right: 5px;
}
#settings {
  width: 100%;
  height: 100vh;
}
#settings .field,
#settings button,
#settings a {
  display: inline-block;
  margin-right: 1em;
}
#settings button:last-child,
#settings a:last-child {
  margin-right: 0;
}
#settings .close {
  background-color: transparent;
  border: 0;
  padding: 10px;
  color: #ebeaee;
}
#settings #rows,
#settings #columns {
  width: 3em;
}
#settings .actions {
  margin-top: 1em;
}
#toolbar {
  padding: 10px;
  text-align: center;
}
#toolbar > * {
  margin: 0 10px;
  vertical-align: middle;
}
#toolbar time,
#toolbar span {
  font-family: monospace;
}
#toolbar button {
  padding: 0.25em;
  font-size: 32px;
}
#board {
  overflow: auto;
  max-width: 100%;
  max-height: calc(100vh - 72px);
}
#board .row {
  white-space: nowrap;
}
#board button {
  width: 30px;
  height: 30px;
  vertical-align: top;
  position: relative;
  padding: 0;
}
#board button.open {
  border: 0;
}
#board button.neighbor {
  font-weight: bold;
}
#board button.neighbor-1 {
  color: #00f;
}
#board button.neighbor-2 {
  color: #008000;
}
#board button.neighbor-3 {
  color: #f00;
}
#board button.neighbor-4 {
  color: #000080;
}
#board button.neighbor-5 {
  color: #800080;
}
#board button.neighbor-6 {
  color: #a52a2a;
}
#board button.neighbor-7 {
  color: #66e;
}
#board button.neighbor-8 {
  color: #000;
}
#board button.wrong-flag::before {
  content: '\274C';
  position: absolute;
  font-size: 30px;
  line-height: 1;
  width: 30px;
  height: 30px;
  left: 0;
  top: 0;
}

